body {
		//background-color: #0093E9;
		//background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
		//background: linear-gradient(90deg, #efd5ff 0%, #515ada 100%);
		background-image: url(../images/bmstree1.png); 
		background-repeat: no-repeat; 
		background-position: center;
		background-size: cover;
		background-attachment: fixed;
		height: 100%;
		width: 100%;
}

.container-fluid {
	height: inherit;
} 

.row {
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 5%;
	margin-bottom: auto;
	-webkit-box-shadow: 0px 2px 24px 2px rgba(0,0,0,1);
-moz-box-shadow: 0px 2px 24px 2px rgba(0,0,0,1);
box-shadow: 0px 2px 24px 2px rgba(0,0,0,1);
	
}

.block1 {
	background-color: #fff;
	height: inherit;
	padding : 5%;
}

.block2 {
	background: linear-gradient(to bottom, #a50034 0%, #a50034 100%);
	height: inherit;
	padding: 5%;
}

h1 {
	text-align: center;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-weight: bold;
	color: #fff;
}

.input-group {
    padding-bottom: 7px;
    margin: 0px 0 0;
}

.input-group-prepend {
    padding: .25rem 0;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
    height: calc(2.125rem + 2px)
}

.input-group-text {
    position: absolute;
    font-size: 1.25rem;
    border-radius: .3rem;
    height: calc(4.125rem + 2px);
    //padding: 5px 5px 0px 5px;
    margin-top: 5px;
    // padding: .5rem .5rem;
    line-height: 1.5;
    z-index: 1;
}

.textbox {
    margin-left: 35px;
    width: 80%;
    padding: .4375rem 0;
    font-size: small;
    line-height: 1.5;
    color: #fff;
    background-color: transparent;
    z-index: 2;
    transition: border-color .5s ease-in-out,box-shadow .5s ease-in-out;
    border: none;
    border-bottom: 1px solid lightgray;
    box-shadow: none;
}

    .textbox:focus {
        border: none;
        outline: 0;
        border-bottom: 2px solid #fff;
        color: #fff;
        background-color: transparent;
        box-shadow: none,0 0 0 .2rem rgba(33,150,243,.25);
    }

.submit {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(270deg, rgba(242,54,130,1) 44%, rgba(236,115,140,1) 100%);
    color: white;
    font-size: medium;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    //box-shadow: 2px 17px 33px -7px rgba(241,161,245,1);
    text-align: center;
    position: relative;
    overflow: hidden;
}

.submit:hover {
        cursor: pointer;
}

    .submit:focus {
        outline: none;
    }

    .submit:active {
        transform: translateY(2px);
        //box-shadow: 2px 17px 33px -7px rgba(241,161,245,1);
    }

h4 {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 122%;
	text-align: center;
	font-weight: bold;
	margin-top: 25%;
	color: #fff;
}

.dropdown-control {
	margin-top: 4%;
	margin-left: 5%;
}

.dropdown {
	width: 105%; 
	height: 100%; 
	font-size: 90%;
	padding: 3%;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	color: #495057;
}
option {
	background-color: #fff;
	//font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

option:hover {
	background-color: #a50034;
}

.centre {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.material-icons {
	color: #fff;
}

::-webkit-input-placeholder { /* Edge */
  color: #fff;
}

:-ms-input-placeholder { /* Internet Explorer */
  color: #fff;
}

::placeholder {
  color: #fff;
}